services:
  postgres:
    image: postgres:16
    container_name: finanzas_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - finanzas_pg_data:/var/lib/postgresql/data

  backend:
    container_name: finanzas_backend
    build: .
    working_dir: /app
    ports:
      - "8002:8000"
    volumes:
      - .:/app
    depends_on:
      - postgres
    environment:
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

      SESSION_DRIVER: ${SESSION_DRIVER}
      CACHE_STORE: ${CACHE_STORE}
      QUEUE_CONNECTION: ${QUEUE_CONNECTION}

      SANCTUM_STATEFUL_DOMAINS: ${SANCTUM_STATEFUL_DOMAINS}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      SESSION_DOMAIN: ${SESSION_DOMAIN}
      SESSION_SECURE_COOKIE: ${SESSION_SECURE_COOKIE}

    command: >
      sh -lc "php -r '...
      ' &&
      (test -f .env || cp .env.example .env) &&
      php artisan key:generate --force &&
      php artisan migrate --force &&
      php artisan db:seed --force &&
      php artisan serve --no-reload --host=0.0.0.0 --port=8000"

volumes:
  finanzas_pg_data: