version: '3.7'
services:
  app:
    image: myapp:latest
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DB_PASSWORD: ${DB_PASSWORD}
      SANCTUM_STATEFUL_DOMAINS: ${SANCTUM_STATEFUL_DOMAINS}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      SESSION_DOMAIN: ${SESSION_DOMAIN}
    ports:
      - '8000:8000'  
    volumes:
      - .:/app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
